/* Bootstrap overrides */
h1 {
    font-size: 45px;
    font-weight: 800px;
    line-height: 60px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 30px;
}

h1.title {
    font-family: 'georgia';
    text-transform: lowercase;
    color: #faa82d;
    font-size: 35px;
    padding-bottom: 10px;
    border-bottom: 5px solid #faa82d;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    bottom-margin: 10px;
}

button {
    margin: 10px auto;
    font-family: 'Helvetiva', sans-serif;
}

.flagged {
    font-weight: normal;
    font-size: 12px;
}

.home_hr {
    color: #faa82d;
    background-color: #faa82d;
    height: 5px;
}

footer {
    margin-top: 30px;
    border-top: 5px solid #ccc;
    padding-top: 10px;
}