<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}{% endblock %}
    </title>
    
    <link type="text/css" rel="stylesheet" href="/static/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/slowloris.css" />
    {% block extra_head %}
    {% endblock %}
</head>

<body>
    {% block content %}
    
    {% comment %}
    google analytics goes here
    can't set up code until we've figured out hosting
    {% endcomment %}
    
    {% endblock %}
    
    <footer>
        This site was built by <a href="http://andromedayelton.com">Andromeda Yelton.</a>  Thanks, <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> and <a href="http://www.heroku.com/">Heroku</a>!  I'm a <a href="http://www.ala.org/lita">LITA</a> member, but this site is not affiliated with LITA in any way.  You can learn more on the <a href="{% url 'about' %}">about page</a>.
    </footer>
</body>