<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}{% endblock %}
    </title>
    
    <link type="text/css" rel="stylesheet" href="/static/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/slowloris.css" />
    {% block extra_head %}
    {% endblock %}
</head>

<body>
    {% block content %}
    
    {% comment %}
    google analytics goes here
    can't set up code until we've figured out hosting
    {% endcomment %}
    
    {% endblock %}
</body>