{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block extra_head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        var form = $('#flag');
        form.show();
        form.submit(function(e) {
            e.preventDefault();
            jQuery.ajax({
                url: form.attr('action')
            }).done(function(data) {
                $(form).html('<h2 class="flagged">Thanks. We\'ll review this.</h2>');
            });
        });
    });
</script>
{% endblock %}

{% block content %}
    
    <div class="row-fluid">
        <div class="span4 adorable_baby_animal">
            <img src="{{ picture.image_link }}"><br />
            <small><a href="{{ picture.attribution_link }}">{{ picture.attribution }}</a></small>
        </div>
        
        <div class="span8">
            <h1>{{ intro.text }}</h1>
            <h1><a href="{{ suggestion.link }}">{{ suggestion.text }}</a></h1>
        </div>
    </div>

    <hr class="home_hr">

    <div class="row-fluid">
        <div class="span4">
            <h2><a href="/">Give me another!</a></h2>
        </div>
    
        <div class="span4">
            <h2><a href="{% url 'submit' %}">I want to submit one!</a></h2>
        </div>
    
        <div class="span4">
            <form method="POST" id="flag" action="{% url 'flag' suggestion.id %}" style="display:none;">
                {% csrf_token %}
                <button type="submit" class="btn">Report an error</button>
            </form>
        </div>
    </div>
{% endblock %}