{% extends "base.html" %}

{% block title %}
    Submitterator
{% endblock %}

{% block extra_head %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}forms.min.css" />
{% endblock %}


{% block content %}
    {% if thanks %}
        <blockquote>Thank you for submitting a suggestion.  You can submit another, or <a href="{% url 'home' %}">go back to the cute baby animals</a>.</blockquote>
    {% else %}
        <h2>Submit a way to get involved with LITA!</h2>
        <i>This doesn't support submitting baby animal pics. Sorry :( You can <a href="mailto:andromeda.yelton@gmail.com?subject=adorable%20baby%20animal%20pics">email me</a> those, though.</a></i>
        <br/><br/><br/>
    {% endif %}
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% for field in form %}
            {% if field.errors %}
                <div class="control-group error">
                    <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                        <span class="help-inline">{{ field.errors }}</span>
                        {% if forloop.last %}
                            <br />
                            <button type="submit" class="btn">Submit</button>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="control-group">
                    <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                        {% if forloop.last %}
                            <br />
                            <button type="submit" class="btn">Submit</button>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </form>
{% endblock %}